<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible">
    <title>Добавление пользователя</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div align="center"><a href="/logout">Logout</a></div>
    <div align="center"><a href="/admin">Вернуться к списку юзеров</a></div>
</head>
<body>
<div align="center">
    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
        <table border="1" cellpadding="5">
                <h2>Добавление нового пользователя:</h2>
            <tr>
                <th><label for="login">Логин</label></th>
                <td>
                    <input type="text" th:field="*{login}" class="form-control" id="login" placeholder="Login">
                    <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th><label for="password">Пароль</label></th>
                <td>
                    <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Password">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <th><label for="email">Email</label></th>
                <td><input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                </td>
            </tr>
            <br>
            <table border="1" cellpadding="5">
                <tr>
                    <td>
                        <div style="text-align: center;">
                            <h4>Авторизовать как:</h4>
                        </div>
                    </td>
                    <td>
                        <select th:name="role_id">
                            <option value="1">USER</option>
                            <option value="2">ADMIN</option>
                        </select>
                    </td>
                </tr>
            </table>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Добавить">
                    </td>
                </tr>
            </table>
    </form>
</div>
</body>
</html>